<!--<div class="container" *ngIf="persona">
    <div class="row">
        
    </div>
</div>-->

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" *ngIf="persona">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="text-white" style="background-color: rgba(10, 52, 103, 0.9); border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Editar Usuario</h2>
                <p class="text-white-50 mb-5">Modifica el Nombre, Apellido, Descripción y foto de perfil</p>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-gruop">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required >
                    </div>
                    <div class="form-gruop">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                    </div>
                    <div class="form-gruop">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                    </div>
                    <div class="form-gruop">
                        <label for="img">Imagen</label>
                        <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                    </div>
                    <div class="imagen">
                        <img [src]="imageService.url" width="200px"> 
                    </div>
                    <br>
                    <button class="btn btn-primary">
                        Editar
                    </button>
                </form>
                
  
              </div>
  
              <!--<div>
                <p class="mb-0">Tenes cuenta? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>-->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
