<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi iusto sapiente autem, mollitia fugit et itaque maiores similique, facere nostrum accusantium numquam earum minima rem alias cupiditate molestias quaerat neque?
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi iusto sapiente autem, mollitia fugit et itaque maiores similique, facere nostrum accusantium numquam earum minima rem alias cupiditate molestias quaerat neque?
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi iusto sapiente autem, mollitia fugit et itaque maiores similique, facere nostrum accusantium numquam earum minima rem alias cupiditate molestias quaerat neque?
            </p>
        </ul>
    </div>
    
</div>
