<div class="row" id="hys">
    <h1>Hard & Soft skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/HTML5.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#d84924'"
            [innerStrokeColor]="'#f4a481'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/css3.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#1471b6'"
            [innerStrokeColor]="'#34aadc'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#fba409'"
            [innerStrokeColor]="'#f9d66b'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff2225'"
            [innerStrokeColor]="'#6eadd7'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/Godot.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#3f3d40'"
            [innerStrokeColor]="'#008dc2'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/Ingles.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#1471b6'"
            [innerStrokeColor]="'#fcb106'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/adap.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#df3a3a'"
            [innerStrokeColor]="'#fcb106'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/TeamWork.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#34a853'"
            [innerStrokeColor]="'#fcb106'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [imageSrc]="'../assets/liderteam.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ffab27'"
            [innerStrokeColor]="'#3d8ea9'"
            [animation]="true"
            [animationDuration]="600">
            [lazy]="false">
        </circle-progress>
    </div>

   
   
</div>
