<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_perfil.jpg" class="img-fluid" alt="FotoPerfil" id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gerino Enzo</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span id="acercademi">
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus expedita adipisci cupiditate repellat impedit iusto placeat tenetur praesentium minima provident! Reprehenderit ratione natus, dicta tempore ducimus veritatis at nemo quos!</p>

        </span>
    </div>
</div>

