<!--<div class="row">
    <footer>
        <P>Gerino Enzo | Argentina Programa 2022</P>
        <p>Rosario, Argentina</p>
    </footer>
</div>-->
<footer>
    <div class="row g-0">
        <div class="container">
            
            <div class="logo">
                <img src="../../../assets/APLogo.png" class="img-fluid" id="logoAP">
            </div>
            <div>
                <P>Gerino Enzo | gerinoenzo@gmail.com <i class="bi bi-envelope"></i></P>
                <p>Argentina Programa 2022</p>
            </div>
            
                
            
            <div class="redes">
                <button class="btn btn-outline-dark">
                    <a href="https://twitter.com/Garildo1983" class="bi bi-twitter"></a>
                </button>
                <!--<button class="btn btn-outline-light">
                    <a href=""></a>
                    <i class="bi bi-linkedin"></i>
                </button>-->
                <button class="btn btn-outline-dark">
                    <a href="https://www.facebook.com/Garildo/" class="bi bi-facebook"></a>
                </button>
                <button class="btn btn-outline-dark">
                    <a href="https://www.instagram.com/enzogerino/" class="bi bi-instagram"></a>
                </button>
                <button class="btn btn-outline-dark">
                    <a href="https://github.com/Garildo" class="bi bi-github"></a>
                </button>
                
                
            </div>
    
    
            
        </div>
    </div>
    
    
</footer>

