
<div class="row">
    <div class="container">

        <div class="card mb-3">
            <img class="card-img-top" src="../../../assets/CenGroup_Banner.png" alt="Cengroup">
            <div class="card-body">
              <h4 class="card-title">Proyecto CenGroup</h4>
              <p class="card-text">Pude realizar este proyecto en HTML con la ayuda de la app de sitio simple para crear páginas web estáticas
                a partir de plantillas, esto me ayudó a entender la estructura de un sitio web.
                CenGroup es una empresa dedicada a brindar soluciones en Recursos Humanos, el sitio web hoy en día sigue vigente,
                con una pronta acutalización. </p>
              <p class="card-text"><small class="text-muted">Desde 2018</small></p>
              <a href="http://cengroup.com.ar/" class="btn btn-outline-dark" role="button" aria-pressed="true">Conocer Más!</a>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="container">

        <div class="card mb-3">
            <img class="card-img-top" src="../../../assets/Rossi_Banner.png" alt="Cengroup">
            <div class="card-body">
              <h4 class="card-title">Proyecto Rossi & Asociados</h4>
              <p class="card-text"> Este fue mi segundo proyecto ya terminando el curso en educación IT de Rosario, donde realicé también un
                sitio web estático con varias paginas vinculadas entre si y con un login interno para clientes.
                Rossi & Asociados es una consultora integral para empresas brindando varios servicios, entre uno de ellos el de Higiene y Seguridad.
                Al momento el sitio sigue vigente, con eventuales acutalizaciones en el staff de la empresa.
              </p>
              <p class="card-text"><small class="text-muted">Desde 2019</small></p>
              <a href="http://www.rossiyasociados.com.ar/" class="btn btn-outline-dark" role="button" aria-pressed="true">Conocer Más!</a>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="container">

        <div class="card mb-3">
            <img class="card-img-top" src="/../../assets/Solar_Banner.png" alt="Cengroup">
            <div class="card-body">
              <h4 class="card-title">Proyecto Solar Clases Particulares</h4>
              <p class="card-text"> En este proyecto, el cliente necesitaba actualizar el sitio web realizado
                anteriormente en una plataforma de sitios.
                Se realizó el sitio web desde cero mejorando imagen y rendimiento. Solar es un instituto de clases particulares 
                en diferentes materias y niveles. El proyecto se entregó para que el cliente realice sus acutalizaciones, al día de hoy sigue vigente.
              </p>
              <p class="card-text"><small class="text-muted">Desde 2020</small></p>
              <a href="https://clasesparticulares.com.ar/" class="btn btn-outline-dark" role="button" aria-pressed="true">Conocer Más!</a>
            </div>
        </div>
        
    </div>
</div>

    


  